.App {
    --header_height: 60px;
    padding: 70px;
}

.hw {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hwTitle {
    padding-bottom: 34px;
    font-weight: 600;
    font-size: 22px;
    color: #000;
}