.App {
    --header_height: 60px;
    padding: 40px 70px;
}

.hw {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 70px;
}

.hwTitle {
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 22px;
    color: #000;
    padding-top: 40px;
}