.greetingForm {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #c00;
}

.input {
    border: 1px solid #D1D1D1;
    width: 372px;
    height: 36px;
    border-radius: 5px;
    padding: 8px 12px;

    font-family: Montserrat, sans-serif;;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.input:focus {
    outline: none;
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid red;
    border-radius: 5px;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: #06c;

    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;

    border: none;
    cursor: pointer;
}

.button:focus {
}

.button:active {

}

.button:disabled {
    background: #06c;
    opacity: 0.5;
}

.text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
}
